@import '../../layout/variables.scss';

.character-card {
  height: 130px;
  width: 130px;
  margin: 8px;
}

.list-image__wrapper {
  display: flex;
  justify-content: center;
}

.list-image-innerWrapper {
  display: flex;
  flex-shrink: 3;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 75%;
}

.list-image__phrase-container {
  margin: 64px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-image__phrase {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 16px;
  color: $black;
}
