@import '../../layout/variables.scss';

.character-card {
  height: 130px;
  width: 130px;
  margin: 8px;
}

.list-image__wrapper {
  padding-top: 64px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-image-innerWrapper {
  padding-top: 64px;
  display: flex;
  flex-shrink: 3;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 75%;
}

.list-image__phrase-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-image__phrase {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 16px;
  color: $black;
}

.list-image__footer {
  height: 64px;
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
}

.list-image__footer__load-more {
  display: flex;
  align-items: center;
}

.list-image__footer__text {
  padding-right: 8px;
  font-weight: 700;
  color: $black;
}
